.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .main {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .contacto-container {
    display: flex;
    width: 90%;
    margin-top: -9%;
    margin-bottom: 10px; /* Reducir el espacio inferior */
  }
  
  .logo {
    width: 40%;
    margin-left: 6%;
    margin-right: 8%;
  }
  
  .contacto-form {
    width: 40%;
    height: 64%; 
    display: flex;
    flex-direction: column;
    border: 1px solid #a4a4a4;
    border-radius: 16px;
    margin-top: 100px;
    padding: 20px; /* Añadido para separar los elementos del borde */
    margin-bottom: 10px; /* Reducir el espacio inferior */
  }
  
  .contacto-form h2 {
    margin-bottom: 20px;
  }
  
  .contacto-form label {
    text-align: left;
    margin-bottom: 5px; /* Espacio entre el label y el input */
    display: block; /* Cambiado para que estén en una línea vertical */
  }
  
  input, textarea {
    width: calc(100% - 20px); /* Ajuste para tener margen en los inputs */
    align-self: center;
    margin-bottom: 10px;
  }
  
  textarea {
    height: 100px; /* Ajusta la altura del área de texto */
  }
  
  .btn-enviar {
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    background-color: #0099cc;
    color: #ffffff;
    padding: 10px 5px;
    border: none;
    width: 30%;
    align-self: flex-end; /* Para alinear el botón a la derecha */
    margin-top: 10px; /* Agregado para separar el botón de los demás elementos */
  }
  
  h5 {
    color: #0099cc;
  }
  