.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.main {
  text-align: center;
}

.contacto-container {
  width: 250%; /* Ajusta el ancho según tus necesidades */
  max-width: 1000px; /* Establece un ancho máximo */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  margin-left: -80%; /* Aplica un margen izquierdo negativo para centrar el contenedor */
  border: 1px solid #ccc; /* Color del borde y grosor */
  border-radius: 8px; /* Borde redondeado */
  padding: 5%; /* Espacio interno como porcentaje del ancho */
  position: relative; /* Para posicionar los elementos internos relativos a este contenedor */
  font-size: 16px; /* Ajusta el tamaño de fuente del contenedor principal */
}


.contacto-form {
  display: flex; /* Establece el contenedor como un flexbox */
  flex-direction: column; /* Coloca los elementos en columna */
  position: relative;
}

.contacto-form div {
  display: flex; /* Establece los elementos dentro del div como un flexbox */
  flex-direction: column; /* Coloca los elementos en columna */
  align-items: flex-start; /* Alinea los elementos a la izquierda */
}

.contacto-form label {
  text-align: left; /* Alinea el texto del label a la izquierda */
  font-size: 16px; /* Ajusta el tamaño de fuente de los labels */
  margin-bottom: 10px; /* Aumenta el margen inferior entre los labels */
}

.contacto-form input,
.contacto-form textarea {
  width: 100%; /* Ocupa todo el ancho disponible */
  padding: 10px; /* Aumenta el espacio interior de los inputs y textareas */
  font-size: 16px; /* Ajusta el tamaño de fuente de los inputs y textareas */
  margin-bottom: 15px; /* Aumenta el margen inferior entre los inputs y textareas */
  box-sizing: border-box;
}

.btn-enviar {
  background-color: #0099CC; /* color de fondo del botón */
  color: white; /* color del texto del botón */
  border: none; /* elimina el borde del botón */
  padding: 12px 24px; /* Aumenta el espacio interior del botón */
  border-radius: 5px; /* borde redondeado del botón */
  margin-top: 20px; /* Aumenta el margen superior del botón */
  font-size: 16px; /* Ajusta el tamaño de fuente del botón */
}


/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
  .contacto-container {
    width: 90%; /* Cambia el ancho del contenedor al 90% del ancho de la pantalla */
    margin-left: auto; /* Elimina el margen izquierdo negativo para centrar el contenedor */
  }
}

/* Estilos para tablets */
@media only screen and (min-width: 100%) and (max-width: 120%) {
  .contacto-container {
    width: 80%; /* Cambia el ancho del contenedor al 80% del ancho de la pantalla */
    margin-left: auto; /* Elimina el margen izquierdo negativo para centrar el contenedor */
  }
}
