.app-contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;

  background-image: url("../multimedia/turtlebot03_fleet.jpg"); /* Reemplaza 'ruta/de/la/imagen.jpg' con la ruta de tu imagen de fondo */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
  height: 100%;
  background-position: center; /* Centra la imagen en el contenedor */
}

.main-contacto {
  display: flex;
  justify-content: center;
  width: 100%;
}

.contacto-container {
  /* width: 250%; 
  max-width: 1000px; 
  margin: 0 auto; 
  margin-left: -80%; 
  border: 1px solid #ccc; 
  border-radius: 8px; 
  padding: 5%; 
  position: relative;
  font-size: 16px; 
   z-index: 0; 
  display: flex; 
  flex-direction: column; 
  position: relative; */

  width: 50%;
  display: flex;
  flex-direction: column;
  border: 1px solid #a4a4a4;
  border-radius: 16px;
  background-color: #fff;
  margin: 5% 0;
}

.titulo-contacto{
  font-size: 2rem;
  margin-top: 1rem;
}

.label-contacto {
  display: block;
  margin-top: .4rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #000514;

}

/* .contacto-container div {
  display: flex; 
  flex-direction: column; 
  align-items: flex-start; 
} */

/* .contacto-container label {
  text-align: left; 
  font-size: 16px; 
  margin-bottom: 10px; 
} */

.input-style-contacto {
  padding: 10px;
  border: 2px solid #a4a4a4;
  border-radius: 8px;
  font-size: 16px;
  color: #555;
  outline: none;
  width: 75%;
  align-self: center;
  height: 5vh;
  margin-bottom: 1.5vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.textarea-style-contacto {
  padding: 10px;
  border: 2px solid #a4a4a4;
  border-radius: 8px;
  font-size: 16px;
  color: #555;
  outline: none;
  width: 75%;
  align-self: center;
  height: 20vh;
  margin-bottom: 1.5vh;
}

.input-style-contacto:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* .contacto-container input,
textarea {
  width: 100%; 
  padding: 10px; 
  font-size: 16px;
  margin-bottom: 15px;
  box-sizing: border-box;
} */

.btn-enviar {
  /* background-color: #0099CC; 
  color: white;
  border: none; 
  padding: 12px 24px; 
  border-radius: 5px;
  margin-top: 20px;
  font-size: 16px;  */

  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  background-color: #0099cc;
  color: #ffffff;
  padding: 1.5vh 5vh;
  border: none;
  width: 50%;
  align-self: center;
  margin: 1vh 0 3.5vh 0; /* Arriba,derecha, abajo, izquierda */
  /* margin-bottom: 4vh; */
  font-size: 1.1rem;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
  .contacto-container {
    width: 90%; /* Cambia el ancho del contenedor al 90% del ancho de la pantalla */
    margin-top: 2vh;
  }
}

/* Estilos para tablets */
@media only screen and (min-width: 601px) and (max-width: 1000px) {
  .contacto-container {
    width: 80%; /* Cambia el ancho del contenedor al 80% del ancho de la pantalla */
    margin-top: 6vh;
  }
}
