.app-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  padding-bottom: 2.3%;

  background-image: url("../multimedia/turtlebot03_fleet.jpg"); /* Reemplaza 'ruta/de/la/imagen.jpg' con la ruta de tu imagen de fondo */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
  height: 100%;
  background-position: center; /* Centra la imagen en el contenedor */
}

.app-login::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 78.5vh;
  background-color: rgba(255, 255, 255, 0.7); /* Capa blanca con opacidad */
}

.main-login {
  display: flex;
  justify-content: center;
  width: 100%;
}

.login-container {
  display: flex;
  width: 90%;
  height: fit-content;
}

@media (prefers-reduced-motion: no-preference) {
  .logo-login {
    animation: App-logo-spin infinite 40s linear;
  }
}

.logo-login {
  width: 68vh; /* Establece el ancho del logo */
  height: 68vh; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
  margin: 5vh 25vh 0vh 12vh;
  /* border: 1px solid #a4a4a4; */
  object-fit: contain;
}

.titulo-login{
  font-size: 2rem;
  margin-top: 1rem;
}

.inputs-container-login {
  width: 35%;
  display: flex;
  flex-direction: column;
  border: 1px solid #a4a4a4;
  border-radius: 16px;
  align-self: center;
  margin-top: 5vh;
  background-color: #fff;
  z-index: 1;
}

.label-login {
  display: block;
  margin-top: .4rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #000514;
}

.input-style-login {
  padding: 10px;
  border: 2px solid #a4a4a4;
  border-radius: 8px;
  font-size: 16px;
  color: #555;
  outline: none;
  width: 75%;
  align-self: center;
  height: 5vh;
  margin-bottom: 1.5vh
}

.input-style-login:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-login {
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  background-color: #0099cc;
  color: #ffffff;
  padding: 1.5vh 1vh;
  border: none;
  width: 40%;
  align-self: center;
  margin-bottom: 4vh;  
  font-size: 1.1rem;
}

.btn-toRegister {
  cursor: pointer;
  font-weight: bold;
  background-color: #ffffff;
  color: #0099CC;
  border: 0px solid transparent ;
  padding: 1.5vh 0px 3vh 0px;
  font-size: 1.1rem;
  text-decoration: none;
}

/* --- VISTA TABLET --- */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .app-login{
    padding-bottom: 10%;
  }

  .app-login::before{
    height: 86.5vh;
  }

  .logo-login {
    width: 30vh; /* Reducir el tamaño del logo */
    margin: 0 6vh 0 0vh; /* Ajustar los márgenes */
  }

  .login-container{
    margin-top: 10vh;
  }

  .inputs-container-login {
    width: 60%; /* Reducir el ancho del contenedor de inputs */
  }

  input {
    width: 80%; /* Reducir el ancho de los inputs */
    margin: 0.65vh 0;
  }

  .btn-login,
  .btn-toRegister {
    width: 50%; /* Reducir el ancho de los botones */
    align-self: center;
  }

  .btn-login{
    margin-bottom: 2.6vh;
  }
}


/* --- VISTA TELEFONOS --- */
@media only screen and (max-width: 600px) {
  .app-login{
    padding-bottom: 26%;
  }

  .app-login::before{
    height: 78.5vh;
  }

  .logo-login {
    display: none; /* Oculta la imagen en dispositivos móviles */
  }

  .inputs-container-login {
    width: 100%; /* Ajusta el ancho del contenedor de inputs en dispositivos móviles */
    height: fit-content;
    margin-top: 15vh;
  }

  input {
    width: 75%;
    align-self: center;
    height: 30px;
    margin: 0.6vh 0;
  }

  .btn-login,
  .btn-toRegister {
    align-self: center;
    width: 80%; /* Ajusta el ancho de los botones en dispositivos móviles */
    border-radius: 8px; /* Elimina el redondeo de bordes en dispositivos móviles */
  }
}