/* ------------ */
/* FONDO Y TODO */
/* ------------ */
.app-movement {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  background-image: url("../multimedia/turtlebot03_fleet.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.app-movement::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 0;
}

.main-movement {
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
  box-sizing: border-box;
}

/* ------- */
/* PANELES */
/* ------- */
.left-panel, .right-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}

.center-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  background-color: #999999;
}

/* -------- */
/* MINIMAPA */
/* -------- */

.mapa-image {
  width: 20vw;
  margin: 30px 0;
}


/* --------------------- */
/* BOTONES DE MOVIMIENTO */
/* --------------------- */

.control-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ESTILO TODOS */
.arrow-button, .arrow {
  border: transparent;
  background-color: transparent;
}

/* ESTILO TODOS */
.arriba, .abajo, .izquierda, .derecha {
  width: 5rem;
}

/* MARGEN BOTONES */
.abajo, .derecha {
  margin-top: 5vh;
}

.arriba, .izquierda {
  margin-top: 25vh;
}

/* ROTACION BOTONES */
.arriba {
  rotate: 180deg;
}

.izquierda {
  rotate: 90deg;
}

.derecha {
  rotate: 270deg;
}

.object-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.object-column, .mapa-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ---------------- */
/* OBJETO DETECTADO */
/* ---------------- */

/* Imagen del objeto */
.object-image {
  width: 200px;
  margin: 20px;
}

/* Texto del objeto */
.object-details {
  margin: 70px 0;
  width: 300px;
  height: 125px;
  font-size: xx-large;
  border: 1px solid #000514;
  background-color: #ffffff;
  align-content: center;
}

/* ---------------- */
/* CAMARA DEL ROBOT */
/* ---------------- */

.camera-view {
  border: 1px solid #000514;
  background-image: url("../multimedia/FotosMovimiento/camara_casera.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 330px;
  width: 95%;
  margin-top: -5vh;
  margin-bottom: 4vh;
}

/* ------- */
/* BOTONES */
/* ------- */
.btn-trayecto, .btn-volver {
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  padding: 1.5vh 1vh;
  border: none;
  width: 80%;
  align-self: center;
  font-size: 1.1rem;
  margin-top: 5vh;
}

.btn-trayecto {
  background-color: #0099cc;
}

.btn-volver {
  background-color: red;
}

/* Estilos para tabletas con resolución máxima de 850px */
@media (max-width: 850px) {
  .app-movement {
    padding: 10px;
  }

  .main-movement {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
  }

  .left-panel, .right-panel {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
  }

  .center-panel {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .control-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }

  .control-buttons .arrow {
    width: 3rem;
    margin: 10px;
  }

  .object-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .object-image {
    width: 120px;
    margin: 10px;
  }

  .object-details {
    margin: 10px 0;
    width: 60%;
    height: auto;
    font-size: xx-large;
  }

  .mapa-image {
    width: 100%;
    margin: 10px 0;
  }

  .camera-view {
    margin-top: 10px;
    height: 400px;
    width: 100%;
  }

  .btn-trayecto, .btn-volver {
    width: 80%;
    padding: 1vh;
    margin: 20px 0;
  }
}
