.app-movement {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: 80%;
  text-align: center;
  padding-bottom: 2.3%;
  background-image: url("../multimedia/turtlebot03_fleet.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.app-movement::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 0;
}

.main-movement {
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
  box-sizing: border-box;
  padding: 0px;
}

.left-panel, .right-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 13%;
}

.center-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  background-color: #999999;
  padding: 20px;
}

.mapa-image img {
  width: 160px;
}

.control-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow-button, .arrow {
  border: transparent;
  background-color: transparent;
}

/* --------------------- */
/* BOTONES DE MOVIMIENTO */
/* --------------------- */

/* ESTILO TODOS */
.arriba,.abajo,.izquierda,.derecha{
  width: 5rem;
}

/* MARGEN */
.abajo,.derecha{
  margin-top: 5vh;
}

.arriba,.izquierda{
  margin-top: 25vh;
}

/* ROTACION */
.arriba {
  rotate: 180deg;
}

.izquierda {
  rotate: 90deg;
}

.derecha {
  rotate: 270deg;
}

.object-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.object-column, .mapa-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.object-image {
  width: 100px;
  margin-bottom: 10px;
}

.object-details p {
  margin: 5px 0;
}

.camera-view {
  width: 100%;
}

.camera-view img {
  width: 100%;
  height: 64%;
  border: 1px solid #000;
}

.btn-trayecto,.btn-volver {
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  padding: 1.5vh 1vh;
  border: none;
  width: 80%;
  align-self: center;
  font-size: 1.1rem;
  margin-top: 4vh;
}

.btn-trayecto {
  background-color: #0099cc;
}

.btn-volver {
  background-color: red;
}
