/* Estilos generales */
.app-user {
  width: 100%;
}

.main-user {
  max-width: 100%;
  margin: 0 auto;
}

/* Estilos del encabezado */
.header-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header-user h1 {
  flex-grow: 1;
  text-align: center;
  margin: 0;
}

.btn-cerrar-sesion {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16pt;
  background-color: #dc3545;
  color: white;
}

/* Estilos de la tabla */
.main-user .tabla-user {
  width: 100%;
  border-collapse: collapse;
}

.main-user th, .main-user td {
  border-bottom: 1px solid #dddddd;
  padding: 2vh;
  text-align: left;
  font-size: 16pt;
}

.main-user th {
  background-color: #f2f2f2;
}

/* Estilos de los botones */
.main-user button {
  padding: 1vh 2vh;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16pt;
  margin-right: 1vw; 
}

.main-user .btn-container-user {
  text-align: right; 
}

.main-user .btn-editar-user, .btn-monitoreo-user {
  background-color: #0099cc;
  color: white;
}

.main-user .btn-eliminar-user {
  background-color: #dc3545;
  color: white;
}

/* Estilos para tablets */
@media (max-width: 1024px) {
  .main-user .btn-container-user {
      text-align: center;
  }

  .main-user button {
      display: block; 
      margin-right: 0; 
      margin-bottom: 1vh;
  }
}

/* Estilos para teléfonos */
@media (max-width: 767px) {
  .main-user button {
      display: block;
      margin-right: 0; 
      margin-bottom: 1vh;
  }
}
